*.o
*.hi
*.html
*.aux
*.dvi
*.png
*.tmp
haskell.4ct
haskell.4tc
haskell.bbl
haskell.css
haskell.blg
haskell.idv
haskell.idx
haskell.ilg
haskell.ind
haskell.lg
haskell.log
haskell.out
haskell.pdf
haskell.toc
haskell.xref
classes.eps
report/*.tex
report/ht/*.tex
report/ht/libs/
tools/run_index
tools/verb-tex4ht
tools/verbatim